@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --Primary-color: #2563eb;
    --Acent-color: #1d4ed8;
    --Background: #f9fafb;
    --Light: #dbeafe;
    --Card-Section-Background: #ffffff;
    -Main-Text: #111827;
    --Secondary-Text: #6b7280;
    --Border-Light-Lines: #e5e7eb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    line-height: 1.6;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: #111827;
}

.logo span {
    color: var(--Primary-color);
}

.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
}

.menu li {
    list-style: none;

}

.menu li a {
    text-decoration: none;
    color: var(--Secondary-Text);
    font-size: 1rem;

}

.menu li a:hover {
    color: var(--Acent-color);
    border-bottom: 2px solid var(--Acent-color);

}

.btn {
    padding: 0.5rem 1rem;
    width: 130px;
    text-align: center;
    background-color: var(--Primary-color);
    color: var(--Card-Section-Background);
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
}

.btn:hover {
    background-color: var(--Acent-color);
}

.toggle-btn {
    font-size: 2rem;
    font-weight: bold;
    color: var(--Primary-color);
    cursor: pointer;
    display: none;
}

.toggle-btn:hover {
    color: #111827;
}

.dropdown-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 10px;
    width: 250px;
    height: 300px;
    background-color: var(--Background);
    border-radius: 8px;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu li {
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

}

.dropdown-menu li a {
    text-decoration: none;
    color: var(--Secondary-Text);
    font-size: 1rem;
}

.dropdown-menu li a:hover {
    color: var(--Acent-color);
    border-bottom: 2px solid var(--Acent-color);

}

.dropdown-menu li .action-btn {
    padding: 0.5rem 1rem;
    width: 130px;
    border: none;
    outline: none;
    background-color: var(--Primary-color);
    color: #fff;
    border-radius: 20px;
    text-align: center;
}

.dropdown-menu button:hover {
    background-color: var(--Acent-color);
}

.hero {
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.text-container {
    max-width: 500px;
}

.hero h1 {
    font-size: 40px;
    font-weight: bold;
}

.hero p {
    font-size: 20px;
    padding: 20px 0;
}

.hero .Primary {
    padding: 0.5rem 1rem;
    width: 130px;
    background-color: var(--Primary-color);
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
}

.hero .Primary:hover {
    background-color: var(--Acent-color);

}

.hero .Secondary {
    padding: 0.5rem 1rem;
    width: 130px;
    background-color: var(--Background);
    border: 1px solid var(--Primary-color);
    outline: none;
    border-radius: 5px;
    color: var(--Primary-color);
    cursor: pointer;
    text-decoration: none;
    list-style: none;
}

.hero .Secondary:hover {
    background-color: var(--Acent-color);
    color: #fff;
}

.image-container img {
    width: 400px;
}

.about {
    text-align: center;
    padding: 60px 30px;
}

.about h1 {
    font-size: 40px;
    font-weight: bold;
}

.about p {
    padding: 20px 0;
    font-size: 20px;

}

.about .about-btn {
    padding: 0.5rem 1rem;
    width: 130px;
    background-color: var(--Primary-color);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
}

.about button:hover {
    background-color: var(--Acent-color);
}

.project {
    padding: 60px 20px;
    text-align: center;
}

.project h1 {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 20px;
}

.project-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;

}

.card {
    max-width: 350px;
    padding: 10px;
    border-radius: 8px;
    background-color: #f4f4f4;
}

.card p {
    font-size: 1rem;
    padding: 20px 0;
}

.card-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.primary-btn {
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    background-color: var(--Primary-color);
    color: #fff;
    border-radius: 8px;
    width: 130px;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}

.primary-btn:hover {
    background-color: var(--Acent-color);
}

.secondary-btn {
    padding: 0.5rem 1rem;
    border: 1px solid var(--Primary-color);
    outline: none;
    background-color: var(--Background);
    color: var(--Primary-color);
    border-radius: 8px;
    width: 130px;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}

.secondary-btn:hover {
    background-color: var(--Acent-color);
    color: #fff;
}

.project-card .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.service {
    padding: 60px 20px;
    text-align: center;
}

.service h1 {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 20px;
}

.service-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cards {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.why {
    padding: 60px 20px;
    text-align: center;
}

.why h1 {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 20px;
}

.why-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.why-card {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.contact {
    text-align: center;
    padding: 60px 20px;
    background: #f9fafb;
}

.contact h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.contact p {
    margin-bottom: 30px;
    color: #555;
}

.contact-form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
}

.contact-form button {
    background-color: var(--Primary-color);
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: var(--Acent-color);
}

.footer {
    background: var(--Primary-color);
    color: #fff;
    text-align: center;
    padding: 40px 20px;
}

.footer .logo {
    margin-bottom: 15px;
    color: #fff;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
}

.footer-links li {
    display: inline;
    margin: 0px 10px;
}

.footer-links li a {
    color: #fff;
    text-decoration: none;
}

.footer-links li a:hover {
    color: var(--Acent-color);
}

.footer-bottom {
    font-size: 14px;
    color: #fff;
}

















@media (max-width:768px) {
    .dropdown-menu.active {
        display: block;
    }

    .toggle-btn {
        display: block;
    }

    .menu,
    .btn {
        display: none;
    }

    .hero {
        flex-direction: column-reverse;
    }

    .project-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .service-card {
        flex-direction: column;
    }

    .why-cards {
        flex-direction: column;
    }

}

@media (max-width:480px) {
    .project-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .hero h1 {
        font-size: 30px;
    }

    .hero p {
        font-size: 18px;
    }

    .about h1 {
        font-size: 30px;
    }

    .about p {
        font-size: 18px;
    }

    .project h1 {
        font-size: 30px;
    }

    .service h1 {
        font-size: 30px;
    }

    .why h1 {
        font-size: 30px;
    }

}

@media (max-width:320px) {
    .dropdown-menu {
        height: 300px;
    }

    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .hero h1 {
        font-size: 20px;
        text-align: center;
    }

    .hero p {
        font-size: 15px;
        text-align: center;
    }

    .hero button {
        justify-content: center;
        margin: 5px;

    }

    .image-container img {
        width: 250px;
        height: 250px;
    }

    .project-card {
        display: flex;
        flex-direction: column;
    }

    .project-card .card img {
        width: 100%;
        height: auto;

    }

    .about h1 {
        font-size: 30px
    }

    .about p {
        font-size: 15px;
    }

    .project h1 {
        font-size: 30px;
    }

    .service h1 {
        font-size: 30px;
    }

    .why h1 {
        font-size: 30px;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
    }
}